body{
    text-align : center;
    color : #553865;
}
.startButton{
    margin-left: 50%;
    height: 100px;
    background: blue;
    float: right;
}
.charCust{
    
}
.scenes{
   width: 100%;
   height: 100%;
   position: fixed;
}
