body{
    text-align : center;
    color : #ED9121;
    background-image: url("galaxy.jpg");
}

.title {
    margin-top : 90px; 
    text-align : "center"; 
    font-family : 'Monaco', Courier, monospace; 
    font-size : 35px; 
}

.subtitle { 
    margin-left : 15px; 
    text-align : left; 
    font-family : monospace; 
    font-size : 20px; 
    color: #553865;
}

.container {
    display: flex;
    flex-flow: row wrap; 
    height: 400px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 45%; 
    float: left;
    border-radius: 15px;

}

.startButton{
    margin-left: 50%;
    height: 100px;
    background: blue;
    float: right;
}

.scenes{
   width: 100%;
   height: 100%;
   position: fixed;
}
